# Python
**DS_Store
**__pycache__
env/
.vscode/

# Project
data/ratings/*
data/functional_connectivity/*
data/signal_intensity/*
data/gfc_volumes/*
output_images/
nilearn_cache
fmri_animation/test_nibabel.ipynb
fmri_animation/test_nilearn.ipynb